.arrow {
  color: white;
}

.div {
  padding-top: 60px;
}

.sub_div {
  padding-top: 30px;
}

.table_btns {
  float: right;
  padding: 20px;
}

.forming {
  justify-content: center;
}

.chart_div {
  text-align: center;
}

.chart_div_sub {
  padding: 40px;
}
